vrp_build
vrp_assets
/vrp/vrp.data
/vrp/vrp.list
/tools/ml_gps/*.sdf
/tools/ml_gps/*.suo
/vrp/server/config/config.json

# IntelliJ IDEA 15 files
.idea/
*.db
*.iml

.vscode
.vs

artifacts.tar.gz
assets.tar.gz

build/workerserver
