{
  "mysql": {
    "main": {
      "host": "127.0.0.1",
      "port": 3306,
      "username": "",
      "password": "",
      "database": "vrp_dev",
      "socket": "/var/run/mysqld/mysqld.sock"
    },
    "logs": {
      "host": "127.0.0.1",
      "port": 3306,
      "username": "",
      "password": "",
      "database": "vrp_dev_logs",
      "socket": "/var/run/mysqld/mysqld.sock"
    },
    "premium": {
      "host": "127.0.0.1",
      "port": 3306,
      "username": "",
      "password": "",
      "database": "vrp_dev_premium",
      "socket": "/var/run/mysqld/mysqld.sock"
    }
  },
  "board": {
    "baseurl": "https://forum.exo-reallife.de/index.php",
	"secret": ""
  }
}
