MYSQL_MAIN_HOST=127.0.0.1
MYSQL_MAIN_PORT=3306
MYSQL_MAIN_USERNAME=root
MYSQL_MAIN_PASSWORD=root
MYSQL_MAIN_DATABASE=vrp

MYSQL_LOGS_HOST=127.0.0.1
MYSQL_LOGS_PORT=3306
MYSQL_LOGS_USERNAME=root
MYSQL_LOGS_PASSWORD=root
MYSQL_LOGS_DATABASE=vrp

MYSQL_PREMIUM_HOST=127.0.0.1
MYSQL_PREMIUM_PORT=3306
MYSQL_PREMIUM_USERNAME=root
MYSQL_PREMIUM_PASSWORD=root
MYSQL_PREMIUM_DATABASE=vrp

BOARD_BASE_URL=https://forum.exo-reallife.de/index.php
BOARD_SECRET=
