{
  "mysql": {
    "main": {
      "host": "87.98.241.93",
      "port": 6033,
      "username": "vRP",
      "password": "kmd1581adf%%f",
      "database": "vRP",
      "socket": "/var/run/mysqld/mysqld.sock"
    },
    "logs": {
      "host": "87.98.241.93",
      "port": 6033,
      "username": "vRP",
      "password": "kmd1581adf%%f",
      "database": "vRP_logs",
      "socket": "/var/run/mysqld/mysqld.sock"
    },
    "board": {
      "host": "87.98.241.93",
      "port": 6033,
      "username": "vRP",
      "password": "kmd1581adf%%f",
      "database": "exo_wbb_vrp",
      "socket": "/var/run/mysqld/mysqld.sock"
    },
    "premium": {
      "host": "87.98.241.93",
      "port": 6033,
      "username": "vRP",
      "password": "kmd1581adf%%f",
      "database": "vrp_premium",
      "socket": "/var/run/mysqld/mysqld.sock"
    }
  }
}
