body {
	overflow: hidden;
}

/* Classes */
.hidden{ display: none; }

/* Main */
#main-wrapper{
	width: 100%; height: 100%;
	background-color: #00022B;
	font-family: Arial, sans-serif;
	position: absolute; left: 0; top: 0;
}

#main-wrapper #top{ 
	height: 40px;
	padding: 10px;
	color: #20587D; font-size: 25pt; font-weight: bold; text-shadow: 0 0 1px #000000;
}

#main-wrapper #top #back{ 
	cursor: pointer;
}

#main-wrapper #top .title{ 
	float: right;
}

#main-wrapper #content{
	width: 100%; height: 500px;
	position: relative;
	border-top: 20px solid #F8BD25; border-bottom: 20px solid #F8BD25;
	font-family: Arial, sans-serif;
	-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.8); box-shadow: 0 0 1px 1px rgba(0,0,0,0.8);
}

/* Main Menu */
#main-wrapper #content #main-menu{
	width: 90%; height: 425px;
	position: relative; margin: 0 auto; margin-top: 35px;
}

#main-wrapper #content #main-menu span.title{
	color: #F8BD25; font-size: 35pt; text-shadow: 0 0 1px #000000;
	display: block;
}

#main-wrapper #content #main-menu label.info{
	color: #D8DAE9; font-size: 15pt; text-shadow: 0 0 1px #000000;
}

#main-wrapper #content #main-menu ul{
	font-size: 25pt;
	padding: 0;
	list-style: none; 
	margin-top: 25px;
}

#main-wrapper #content #main-menu ul li a{
	cursor: pointer; display: inline-block;
	padding: 0 0 8px 0;
	color: #20587D; text-shadow: 0 0 1px #000000; text-decoration: none;
}

#main-wrapper #content #main-menu ul li a:hover{
	color: #FCFFFF;
}

#main-wrapper #content .menu{ 
	width: 80%; height: 425px;
	position: relative; margin: 0 auto; margin-top: 35px;
	overflow: auto;
}

#main-wrapper #content .menu table{ 
	width: 100%;
	color: #F8BD25; font-size: 22pt;
	padding: 0;
}

#main-wrapper #content .menu tr td{ 
	width: 50%;
}

#main-wrapper #content .menu #crime tr td{
	background-color: #F8BD25; 
	padding: 5px;
	color: rgba( 180, 10, 0, 1 ); font-size: 16pt; font-weight: normal; text-shadow: 0 0 1px rgba( 0, 0, 0, 0.1 );
	-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.8); box-shadow: 0 0 1px 1px rgba(0,0,0,0.8);
}

#main-wrapper #content .menu #crime tr:hover td{
	background-color: rgba( 10, 180, 200, 1 );
}